.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--primary-color);
    margin: 0;
    height: 4rem;
}

.links{
    display: flex;
    margin: 0;
    height: 100%;
    
}

.logo{
    max-height: 90%;
    
}

li{
    list-style-type: none;
    padding: 1rem;
    
}

li:hover{
    background-color: var(--hover-color);
    
}